{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'transactions/style.css' %}" />

<h1>{{ object.date }}</h1>
<p>{{ object.total_custom }}</p>
<p>{{ object.tax_total_custom }}</p>
<p>{{ object.tip_total }}</p>
<p>{{ object.bags_total }}</p>
<p>{{ object.donation_total }}</p>
<p>{{ object.grand_total_custom }}</p>
<p>{{ object.contact_custom }}</p>
<p>{{ object.account_from }}</p>
<p>{{ object.account_to }}</p>
<p>{{ object.address }}</p>
<div>
  <a href="edit/">Edit</a>
</div>

{% for object in queryset %}
<p>{{ object.name }}: {{ object.value }}</p>
{% endfor %}

{% for instance in data %}
    {% for field, value in instance.fields.items %}
        {{ field }}: {{ value }}
    {% endfor %}
{% endfor %}
