{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'transactions/style.css' %}" />

<h1>Date: {{ object.date }}</h1>
<p>Custom Total: {{ object.total_custom }}</p>
<p>Custom Tax Total: {{ object.tax_total_custom }}</p>
<p>Tip Total: {{ object.tip_total }}</p>
<p>Bags Total: {{ object.bags_total }}</p>
<p>Donation Total: {{ object.donation_total }}</p>
<p>Custom Grand Total: {{ object.grand_total_custom }}</p>
<p>Custom Contact: {{ object.contact_custom }}</p>
<p>From Account: {{ object.account_from }}</p>
<p>To Account: {{ object.account_to }}</p>
<p>Location: {{ object.address }}</p>
<div>
  <span><a href="edit/">Edit</a></span>
  <span><a href="../">Back</a></span>
</div>
