{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'transactions/style.css' %}" />
<table>
<tr><td>Date:</td><td>{{ object.date }}</td></tr>
<tr><td>Custom Total:</td><td>{{ object.total_custom }}</td></tr>
<tr><td>Custom Tax Total:</td><td>{{ object.tax_total_custom }}</td></tr>
<tr><td>Tip Total:</td><td>{{ object.tip_total }}</td></tr>
<tr><td>Bags Total:</td><td>{{ object.bags_total }}</td></tr>
<tr><td>Donation Total:</td><td>{{ object.donation_total }}</td></tr>
<tr><td>Custom Grand Total:</td><td>{{ object.grand_total_custom }}</td></tr>
<tr><td>Custom Contact:</td><td>{{ object.contact_custom }}</td></tr>
<tr><td>From Account:</td><td>{{ object.account_from }}</td></tr>
<tr><td>To Account:</td><td>{{ object.account_to }}</td></tr>
<tr><td>Location:</td><td>{{ object.address }}</td></tr>
<tr><td>Total from Transaction Detail:</td><td>{{ object.total_from_transactiondetail__total }}</td></tr>
</table>

<div>
  <span><a href="edit/">Edit</a></span>
  <span><a href="../">Back</a></span>
</div>
