{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}" />

{% if contact_list %}
  <ul>
    {% for contact in contact_list %}
    <li>{{ contact.name }} - {{ contact.testfield }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No contacts are available.</p>
{% endif %}

{% if address_list %}
  <ul>
    {% for address in address_list %}
    <li>{{ address.street_name }} - {{ address.city }} - {{ address.contact.testfield }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No addresses are available.</p>
{% endif %}
